/*=============================================
=            contacto- formulario             =
=============================================*/
.form__label{
    display: none;
}

.form{
    min-width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    &__input{
        padding: $unit;
        @include form;
        margin-bottom: $space;
        background-color:$boxcolor;
        border: $border-form;
        border-radius: $small;
    };
    &__button{
        @include button;
        padding: 0;
        text-align: center;
        background-color: $button-color;
        margin: auto;
        border: $border-form;
        border-radius: $small;
        padding: $unit;
        transition:.2s ease-in-out;
    }
    &__button:hover{
        transform: scale(110%);
        background-color: $darken-red;
    }
}

input:focus{
    border: $border-form-checked; 
}

textarea:focus{
    border: $border-form-checked; 
}

.dialog{
    padding: $space;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: $bgcolor-red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $space;
    border: $border;
    display: none;
    z-index: 2;
    transition: 1s ease-in-out;
    color: $titlecolor;
    &__gif{
        width: 50%;
        height: 50%;
        border-radius: $space;
    }
    &__button{
        border-radius: $space;
        border: $border;
        background-color: $bgcolor-white;
        padding: $space;
        &:hover{
            background-color: $boxcolor;
            transform: scale(105%)
        }
    }
    
}
.dialog__title{
    @include dialog-title;
}

